<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body class="container-fluid">

<header>
    <%- include('../partials/header2') %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h2>AttenBuddy</h2>
            <p>Welcome to one of the best Attendance Management System</p>
        </div>
    </div>

    <div class="col-sm-4">        
        <div class="well">
            <h3>Student</h3>
            <p>You are a student.You can review your attendance of all the courses you are enrolled in.</p>
        </div>
    </div>
</div>
<% var k=0 %>
<% for (var i =0; i < (date.length/4)+1;  i++ ) { %>
    <div class="row">
    <% for (var j =0; j <4;  j++ ) { %>
      <% if(k<date.length) { %>
        <div class="col-sm-3">
    <div class="card-body">
    <div class="card grey darken-4 text-white text-white">
    <h4 class="card-title" style="text-align:center"><em><b><%= date[k] %></b></em></h4>
    </div>
    </div>
    </div>
    <% k++} %>
    <% } %>
    </div>
<% } %>

<% var k=0 %>
<% for (var i =0; i < (ndate.length/4)+1;  i++ ) { %>
    <div class="row">
    <% for (var j =0; j <4;  j++ ) { %>
      <% if(k<ndate.length) { %>
        <div class="col-sm-3">
    <div class="card-body">
    <div class="card bg-danger text-white">
    <h4 class="card-title" style="text-align:center"><em><b><%= ndate[k] %></b></em></h4>
    </div>
    </div>
    </div>
    <% k++} %>
    <% } %>
    </div>
<% } %>
</main>

<footer>
    <%- include('../partials/footer') %>
</footer>

</body>
</html>
 
 
